<nav class="navbar navbar-dark bg-dark">
   <a href="/api/v1/" class="navbar-left"><img src="/public/images/Logo-Kimo.jpg" id="logoKimo"></a>
    <a class="navbar-brand" id="SearchText">INDEX</a>
</nav>
<div class="container">
    <br>
    <ul>
        <h5><a href="/api/v1/logs">Logs</a></h5>
        <h5><a href="/api/v1/devices">Devices</a></h5>
        <h5><a href="/api/v1/gateways">Gateways</a></h5>
    </ul>
</div>